$icon-font-path: "../../bower_components/bootstrap/dist/fonts";
//$background: #777789;
$background: #53536b;
//$bg-transparent: rgba(119,119,137,0);
$bg-transparent: rgba(83,83,107,0);
$modal-bg: #000;
$modal-bg-transparent: rgba(0,0,0,0);
$title-text-main: #cfcfcf;
$title-text-emp: #ffffff;

$offWhite: #fdfdfd;
$offWhiteTranslucent: #9494A3;
$accent-grey: #e5e5e5;