@import "vars";

.post-icon-container{
  position: relative;
  padding: 0 5px 10px;
  &.placeholder{
    .post-icon{
      background-color: $offWhiteTranslucent;
      border-color: $offWhiteTranslucent;
    }
  }
}

.post-icon{
  position: relative;
  width: 100%;
  max-height: 100%;
  border-radius: 4px;
  border: 15px solid $offWhite;
  background: $offWhite top no-repeat;
  background-size: contain;
  overflow: visible;
  &.landscape{

  }
  &:before{
    content:"";
    display:block;
    margin-top: 98%;
  }

  .post-title{
    background: $bg-dark;
    position: absolute;
    bottom: 6%;
    left: 0;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    color: $title-text-emp;
    text-align: center;
    &:before, &:after{
      content:"";
      position: absolute;
      z-index: 1000;
      top: 0;
      left: -15px;
      background: $bg-dark;
      display:block;
      width: 15px;
      height: 100%;
    }
    &:after{
      left: 100%;
    }
  }
}


.post-container{
  height: 100%;
  padding-left: 47px;
  padding-right: 0;
  margin-bottom: 15px;
}

.post-header{
  padding: 15px 15px 0;
  height: 45px;
  .post-title{
    position: absolute;
    top: 14px;
    font-size: 28px;
    z-index: 100;
  }
  .post-date{
    float: right;
    margin-top: -1px;
    right:15px;
    font-size: 28px;
    z-index: 90;
    color: $title-text-main;
  }
}

.post{
  height: 100%;
  padding-right: 0;
  border-radius: 4px 0 0 4px;
  background: $offWhite center no-repeat;

  .post-body{
    padding-right: 40px;
    padding-bottom: 45px;
  }

  .title{
    font-size: 24px;
  }

  .post-subtitle{
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .post-image{
    width: 100%;
    max-width: 600px;
    height: auto;
    z-index: 1000;
    border: 1px solid $accent-grey;
  }

  .video-container, .picture-container{
    width: 100%;
    margin: 20px 0;
    //text-align: center;
    video,img{
      width: 100%;
      max-width: 600px;
    }
    &.xs{
      video,img{
        width: 100%;
        max-width: 450px;
      }
    }
    &.xxs{
      video,img{
        width: 100%;
        max-width: 450px;
      }
    }
    &.sm{
      video,img{
        width: 100%;
        max-width: 500px;
      }
    }
    &.md{
      video,img{
        width: 100%;
        max-width: 550px;
      }
    }
  }
}

@media screen and (min-width: 990px) and (max-width: 1215px) {
  .post-icon {
    .post-title {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 768px) {
  .posts{
    padding: 0 25px;
  }
}

@media screen and (max-width: 510px) {
  .post-icon {
    .post-title {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 465px) {
  .post-icon {
    .post-title {
      font-size: 14px;
      padding: 5px 0px;
    }
  }
}

@media screen and (max-width: 400px) {
  .post-icon {
    .post-title {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 360px) {
  .post-icon {
    .post-title {
      font-size: 10.5px;
    }
  }
}